/*
!/.gitignore

!/config/
!/resources/
!/scripts/

config/BiomeTweaker/
config/dynamiclights_entityclasses.cfg
config/InvTweaks.cfg
config/splash.properties
config/states.cfg
config/tlf/HideNames.cfg
config/worldedit/worldedit.properties
config/AppliedEnergistics2/items.csv
config/AppliedEnergistics2/CustomRecipes.cfg
