/*
!/.gitignore

!/config/
!/resources/
!/scripts/

config/BiomeTweaker/
config/dynamiclights_onfire.cfg
config/dynamiclights_entityclasses.cfg
config/InvTweaks.cfg
config/splash.properties
config/states.cfg
config/tlf/HideNames.cfg
config/worldedit/worldedit.properties
config/AppliedEnergistics2/items.csv
config/AppliedEnergistics2/CustomRecipes.cfg
config/AppliedEnergistics2/VersionChecker.cfg
config/jei/worldSettings.cfg
config/mtsconfigclient.json
config/mtslanguage_en_us.json
config/antiqueatlas/biome_textures.json
config/oxygen/data/client/
config/BiomeTweaker/output/entity/bwm_jungle_spider (betterwithmods_bwm_jungle_spider).json
config/BiomeTweaker/output/entity/entity_sheared_creeper (betterwithmods_entity_sheared_creeper).json
config/oxygen/data/client/settings/settings.json
config/fancymenu/locals/en_us.local
config/fancymenu/locals/ru_ru.local
config/fancymenu/locals/uk_ua.local
