# Configuration file

~CONFIG_VERSION: 0.1.0

##########################################################################################################
# advanced
#--------------------------------------------------------------------------------------------------------#
# Advanced config options to change the way HEI functions.
##########################################################################################################

advanced {
    S:itemBlacklist <
        mwc:lead_ore
        betterwithmods:bamboo_chime
        tconstruct:slime_boots
        advancedrocketry:oxidizerfueltank
        betterwithmods:blood_sapling
        betterwithmods:steel_mattock
        betterwithmods:steel_gearbox
        mekanismgenerators:reactorglass
        betterwithmods:cooking_pot
        nuclearcraft:alloy:5
        betterwithmods:bucket
        nuclearcraft:alloy:0
        rsgauges:sensitiveglass_brown
        rsgauges:detectorswitch_glass1
        mekanism:transmitter:1:elite
        rsgauges:detectorswitch_glass2
        mekanismgenerators:generator:13
        minecraft:enchanting_table
        industrialwires:ic2_connector
        betterwithmods:chicken_soup
        rsgauges:sensitiveglass_white
        advancedrocketry:electrolyser
        locks:iron_lock_pick
        betterwithmods:aesthetic
        mekanism:transmitter:2:basic
        advancedrocketry:platepress
        betterwithmods:wool_boots
        nuclearcraft:portable_ender_chest
        biomesoplenty:boat_pine
        immersiveengineering:metal_device1:11
        immersiveengineering:metal_device1:10
        industrialwires:general_hv
        mekanism:machineblock3:1:basic:smelting
        rsgauges:sensitiveglass_lime
        biomesoplenty:boat_mangrove
        betterwithmods:wood_bench
        icbmclassic:ingot
        rsgauges:sensitiveglass_pink
        betterwithmods:steel_broken_gearbox
        betterwithmods:dynamite
        rsgauges:contactmat_glass1
        advancedrocketry:crystallizer
        biomesoplenty:boat_magic
        rsgauges:contactmat_glass2
        mwc:sulfur_ore
        rsgauges:bistableswitch_glass1
        betterwithmods:nether_clay
        betterwithmods:steel_pressure_plate
        locks:wood_lock_pick
        buildinggadgets:constructionpastecontainercreative
        betterwithmods:infernal_enchanter
        betterwithmods:cooked_omelet
        libvulpes:productrod:1
        betterwithmods:material:1
        mekanismgenerators:generator:10
        mekanismgenerators:generator:11
        nuclearcraft:water_source_compact
        mekanism:transmitter:1:ultimate
        mekanismgenerators:generator:12
        betterwithmods:chocolate
        advancedrocketry:bipropellantfueltank
        betterwithmods:metal_chime
        nuclearcraft:ingot:13
        nuclearcraft:ingot:12
        mekanism:transmitter:0:elite
        biomesoplenty:boat_palm
        minecraft:elytra
        appliedenergistics2:network_tool
        rsgauges:sensitiveglass_lightblue
        betterwithmods:leather_tanned_chest
        mwc:night_stick
        rsgauges:sensitiveglass_lightgray
        biomesoplenty:boat_umbran
        advancedrocketry:solargenerator
        immersiveengineering:blueprint
        mekanism:transmitter:3:ultimate
        nuclearcraft:solar_panel_advanced
        nuclearcraft:dry_earth
        nuclearcraft:solar_panel_du
        appliedenergistics2:material
        mwc:baseball_bat
        advancedrocketry:satelliteprimaryfunction:6
        icbmclassic:grenade:2
        betterwithmods:lens
        betterwithmods:donut
        advancedrocketry:misc
        nuclearcraft:water_source
        icbmclassic:antidote
        harvestcraft:grinder
        mwc:baseball_bat_nails
        mekanism:energycube:0:creative:filled
        mekanism:obsidiantnt
        mekanism:transmitter:1:advanced
        advancedrocketry:weathercontroller
        nuclearcraft:dust:12
        advancedrocketry:basiclasergun
        biomesoplenty:boat_mahogany
        rsgauges:sensitiveglass_green
        nuclearcraft:dust:13
        betterwithmods:wool_helmet
        mekanism:transmitter:0:advanced
        buildinggadgets:destructiontool
        betterwithmods:single_machine:2
        rsgauges:bistableswitch_glass2
        libvulpes:coalgenerator
        nuclearcraft:ingot_block:12
        nuclearcraft:ingot_block:13
        betterwithmods:steel_block
        nuclearcraft:voltaic_pile_advanced
        mekanism:transmitter:2:elite
        nuclearcraft:dominos
        betterwithmods:steel_shovel
        betterwithmods:cooked_scrambled_egg
        biomesoplenty:boat_jacaranda
        betterwithmods:steel_chest
        storagedrawers:tape
        betterwithmods:material:38
        mekanism:cardboardbox
        biomesoplenty:boat_ebony
        betterwithmods:material:39
        betterwithmods:material:36
        betterwithmods:material:35
        mwc:weapon_workbench
        nuclearcraft:lithium_ion_battery_basic
        betterwithmods:material:40
        betterwithmods:leather_tanned_pants
        betterwithmods:material:43
        nuclearcraft:manufactory_idle
        betterwithmods:material:42
        betterwithmods:dynamite_bundle
        betterwithmods:hearty_stew
        advancedrocketry:nuclearcore
        betterwithmods:steel_axe
        betterwithmods:steel_sword
        betterwithmods:ender_spectacles
        icbmclassic:wire
        betterwithmods:wood_table
        betterwithmods:steel_anvil
        betterwithmods:material:49
        biomesoplenty:boat_fir
        betterwithmods:material:48
        rsgauges:sensitiveglass_yellow
        betterwithmods:material:45
        rsgauges:sensitiveglass_cyan
        betterwithmods:material:47
        mekanism:transmitter:3:elite
        betterwithmods:material:46
        betterwithmods:material:52
        betterwithmods:material:51
        betterwithmods:material:54
        betterwithmods:leather_tanned_helmet
        betterwithmods:material:53
        rsgauges:sensitiveglass
        mekanismgenerators:reactor
        betterwithmods:stump_remover
        advancedrocketry:nuclearfueltank
        mekanism:transmitter:0:ultimate
        mwc:tin_ore
        biomesoplenty:boat_sacred_oak
        betterwithmods:material:16
        betterwithmods:composite_bow
        betterwithmods:material:15
        betterwithmods:cooked_kebab
        rsgauges:sensitiveglass_inverted
        betterwithmods:material:17
        nuclearcraft:ingot_block:0
        nuclearcraft:ingot_block:1
        nuclearcraft:ingot_block:2
        betterwithmods:material:14
        nuclearcraft:lithium_ion_battery_elite
        tconstruct:slimesling
        betterwithmods:material:20
        opencomputers:upgrade:4
        betterwithmods:tasty_sandwich
        betterwithmods:ham_and_eggs
        nuclearcraft:voltaic_pile_basic
        betterwithmods:steel_hacksaw
        rsgauges:powerplant_yellow
        betterwithmods:steel_pants
        betterwithmods:material:29
        mwc:copper_ore
        betterwithmods:material:28
        betterwithmods:material:23
        betterwithmods:material:25
        advancedrocketry:bipropellantrocketmotor
        betterwithmods:material:30
        advancedrocketry:itemupgrade:1
        betterwithmods:chowder
        icbmclassic:circuit
        betterwithmods:leather_tanned_boots
        rsgauges:powerplant_red
        nuclearcraft:gem:6
        advancedrocketry:itemupgrade:2
        advancedrocketry:advbipropellantrocketmotor
        rsgauges:sensitiveglass_purple
        biomesoplenty:boat_hellbark
        betterwithmods:slats
        betterwithmods:steel_axle
        betterwithmods:unfired_pottery
        rsgauges:sensitiveglass_orange
        mekanism:energycube:0:creative:empty
        betterwithmods:iron_wall
        mekanism:transmitter:5:basic
        base:wrench
        betterwithmods:nether_growth
        tconstruct:throwball:1
        betterwithmods:bark:6
        advancedrocketry:terraformingterminal
        mekanism:transmitter:3:advanced
        nuclearcraft:pressurizer_idle
        nuclearcraft:lithium_ion_battery_du
        rsgauges:sensitiveglass_black
        betterwithmods:raw_pastry
        betterwithmods:apple_pie
        appliedenergistics2:tiny_tnt
        betterwithmods:steel_battleaxe
        mekanism:transmitter:4:basic
        advancedrocketry:jackhammer
        nuclearcraft:solar_panel_basic
        nuclearcraft:lithium_ion_cell
        betterwithmods:detector
        rsgauges:daytimeswitch_glass1
        betterwithmods:wool_chest
        appliedenergistics2:matter_cannon
        betterwithmods:wool_pants
        mekanismgenerators:generator:7
        biomesoplenty:boat_redwood
        mekanismgenerators:generator:6
        mekanismgenerators:generator:9
        mekanismgenerators:solarpanel
        mekanismgenerators:generator:8
        betterwithmods:beef_dinner
        mekanismgenerators:generator:1
        advancedrocketry:solarpanel
        betterwithmods:steel_helmet
        nuclearcraft:voltaic_pile_du
        betterwithmods:steel_boots
        mekanismgenerators:generator:5
        betterwithmods:blood_log
        mekanism:transmitter:3:basic
        nuclearcraft:ingot:2
        nuclearcraft:ingot:1
        nuclearcraft:ingot:0
        betterwithmods:pork_dinner
        rsgauges:sensitiveglass_magenta
        betterwithmods:buddy_block
        mekanism:basicblock:6:creative
        betterwithmods:steel_pickaxe
        rsgauges:sensitiveglass_blue
        icbmclassic:clump
        betterwithmods:urn
        fcl:blueprinttable
        nuclearcraft:water_source_dense
        solarflux:solar_panel_8
        solarflux:solar_panel_7
        rsgauges:sensitiveglass_gray
        harvestcraft:well
        mwc:ammo_press
        mwc:tactical_tomahawk
        betterwithmods:steel_saw
        betterwithmods:raw_kebab
        biomesoplenty:boat_eucalyptus
        nuclearcraft:voltaic_pile_elite
        betterwithmods:candle_holder
        adchimneys:bedrock
        betterwithmods:blood_leaves
        mekanism:transmitter:1:basic
        biomesoplenty:boat_cherry
        nuclearcraft:dust:2
        nuclearcraft:dust:1
        nuclearcraft:dust:0
        advancedrocketry:nuclearrocketmotor
        betterwithmods:raw_omelet
        nuclearcraft:compound:8
        betterwithmods:raw_scrambled_egg
        rsgauges:pulseswitch_glass3
        betterwithmods:creative_generator
        betterwithmods:mining_charge
        biomesoplenty:boat_willow
        betterwithmods:companion_cube
        icbmclassic:signaldisrupter
        libvulpes:ore0:0
        industrialwires:ic2_wire_coil
        rsgauges:pulseswitch_glass1
        rsgauges:pulseswitch_glass2
        icbmclassic:bombcart
        rsgauges:timerswitch_glass1
        mekanism:machineblock2:11:creative:smelting
        mekanism:transmitter:0:basic
        nuclearcraft:lithium_ion_battery_advanced
        betterwithmods:steel_hoe
        betterwithmods:broadhead_arrow
        nuclearcraft:solar_panel_elite
        mekanism:walkietalkie
        rsgauges:sensitiveglass_red
        mekanism:gastank
        mekanism:transmitter:2:advanced
        betterwithmods:beef_potatoes
        betterwithmods:creeper_oyster
        mekanism:transmitter:2:ultimate
        biomesoplenty:boat_ethereal
        nuclearcraft:alloy_furnace_idle
        betterwithmods:block_dispenser
     >
}


