# Configuration file

blocks {
    B:autoworkbench_item=true
    B:chute=false
    B:decorated=false
    B:distiller=false
    B:engine=false
    B:flood_gate=false
    B:heat_exchange=false
    B:marker_path=false
    B:marker_volume=false
    B:mining_well=false
    B:pump=false
    B:spring=false
    B:tank=false
    B:tube=false
    B:water_gel=false
}


engines {
    B:"buildcraftcore:engine/creative"=false
    B:"buildcraftcore:engine/wood"=false
}


items {
    B:fragile_fluid_shard=false
    B:gear_diamond=false
    B:gear_gold=false
    B:gear_iron=false
    B:gear_stone=false
    B:gear_wood=false
    B:gel=false
    B:list=false
    B:map_location=false
    B:marker_connector=false
    B:paintbrush=false
    B:volume_box=false
    B:water_gel_spawn=false
    B:wrench=false
}


