# Configuration file

general {
    # Determines whether or not the default tips should be possible. This includes tips added directly by other mods through their language files. [default: true]
    B:allowDefaultTips=false

    # A list of custom tips added by the user or modpack. [default: ]
    S:customTips <
        Once you have steel, locks can be used to protect buildings and chests.#SPLIT#Locked Tight
        The Antique Atlas can be used as a shared map and minimap before launching Satellites.#SPLIT#Satellite Mapping
        Clay bricks, Concrete, and Asphalt are the fastest block type to walk on. Building roads of these materials can greatly improve your inner-city transportation.#SPLIT#Road Building
        Making your GUI scale smaller will allow you to see more of the planet map.#SPLIT#Space Tip
        You can rightclick and drag many Advanced Rocketry menus, rather than scrolling.#SPLIT#Space Tip
        When creating your town, pay attention to what resources you have around you. Having access to an iron vein is a must!#SPLIT#Town Resources
        Be sure to properly vent your coal mine, or you could risk a build up of methane gas. It explodes if touches fire!#SPLIT#Methane Mining
        Less ores spawn underground than in vanilla. Instead, scour the surface for little samples of ores, and dig down from there to reach the motherload. Mark down anything you find on your map.#SPLIT#Lewis and Clark
        Progression requires research. Work with your town to create research points and unlock more and more advanced mods!#SPLIT#Cooperation is Key
        Every three days, the season changes. This affects temperature and which crops are able to grow. Construct a Serene Seasons greenhouse to grow anything year-round!#SPLIT#Advanced Farming
        Burning fossil fuels will generate pollution. Make sure it has a chimney or vent to escape if you are doing so indoors or underground. If too much piles up in the atmosphere, you will start to be debuffed, poisoned, and even withered!#SPLIT#Acid Rain
        Carbon is the most plentiful but least harmful type of pollution. It will naturally decay while fertilizing nearby plants. Pump it into a greenhouse for fast growth!#SPLIT#Carbon Control
        Sulfur pollution sticks around, cobbling stone and decaying any dirt that it touches. Use filters to purify the pollution before it can escape!#SPLIT#Sulfur Control
        Dust pollution will sink and can make it hard to breathe. Use filters to purify the pollution before it can escape!#SPLIT#Dust Control
        A filled filter placed atop a powered pump will provide immunity to pollution poisoning in a small radius. A filled respirator does the same while worn as a helmet, but has a limited duration.#SPLIT#Pollution Scrubberss
        A vacuum bag and tube can spot clean pollution, assuming you can reach it.#SPLIT#Cleanup Crew
        Immersive Engineering's excavators don't work. Don't make any. Oil production, on the other hand, is very necessary for later gamestages, and is a convenient power source.#SPLIT#Mining Machines
        Ores only stack up to 16 until they're processed. Build infrastructure to efficiently transport them or process them on-site.#SPLIT#Logistics is Key
        Ores aren't spread evenly throughout the world. You're much more likely to find certain ore deposits in certain biomes. Check the questbook for specific details.#SPLIT#Geolosys
        Crafting a blank antique atlas with a filled one will create a synchronized copy. Share your discoveries with your town!#SPLIT#Cartography 101
        Many machines and researches are expensive and difficult to do alone. This is a multiplayer pack at heart, so find some friends or make some new ones!#SPLIT#Cooperation is Key
        You can trade gold for cash to use in research at spawn. Don’t build too far away, or you’ll have a long trip to take.#SPLIT#Making Money
        Press M to access the global market, where you can buy and sell items from other players. There’s a small fee, though, so build roads if you want to dodge taxes.#SPLIT#Global Trade
        There are three points where towns specialize in a field, unlocking the ability to craft exclusive items. Trade with different towns if you want to use their specializations as well!#SPLIT#Divide and Conquer
        If you have any suggestions of things you'd like to see in the pack, let us know on Discord!#SPLIT#Suggestions Welcome
        Project Towny takes place on the PC of a college student as apart of a simulation project for his Civics class.#SPLIT#Project Towny
        Version 0.8 is the next update and will feature an overhaul of the war and diplomacy system!#SPLIT#Project Towny Version 0.8
        Version 0.9 is the culture update and will feature a new culture tech tree with many cool unlocks!#SPLIT#Project Towny Version 0.9
        The End is disabled. Perhaps some remnents of the dimension lay in asteroids floating among the stars?#SPLIT#Ender Asteroids
     >

    # The color of the actual tip text. [default: FFFFFF]
    S:textColor=FFFFFF

    # The color of the top/title text for the tip. [default: FFFF55]
    S:titleColor=FFFF55

    # The amount of offset the tip text should have from the left of the screen. [range: 0 ~ 2147483647, default: 5]
    I:xOffset=5

    # The amount of offset the tip text should have from the bottom of the screen. [range: 0 ~ 2147483647, default: 40]
    I:yOffset=60
}


